{% extends 'core/base.html' %}
{% block title%}Login{% endblock %}

{% block content%}

<div class="row px-2">
    <div class="col-6 m-auto px-3 py-2 my-5 ">
        <div class="card bg-light">
            <div class="mb-3 mt-5 text-secondary text-center">LOGIN</div>
            <div class="card-body">
                
                <form action="." method="post">
                    {% csrf_token %}
        
                <div class="mb-2">
                    <label for="" class="mb-2">Username</label><br>
                    {{ form.username }}
                </div>
                <br>
                
                <div class="mb-2">
                    <label for="" class="mb-2">password</label><br>
                    {{ form.password }}
                </div>
                
                <br>
                    {% if form.errors or form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show">

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                        {% for field in form %}
                        <strong> {{ field.errors }}</strong> 
                        {% endfor %}

                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
        
                    <button class="btn btn-success mt-3 m-auto">Submit</button>
                </form>
            </div>
        </div>
    
    </div>
</div>

{% endblock %}